<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estetikin">
        <activity
            android:name=".ui.example.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.confirmPage.ConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetPassword.CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetPassword.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetPassword.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.moduleDetail.ModuleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.albumDetail.AlbumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sentiment.SentimentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:label="@string/title_camera"
            android:theme="@style/Theme.Estetikin.NoActionBar" />
        <activity
            android:name=".ui.authentication.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Estetikin.NoActionBar" />
        <activity
            android:name=".ui.onBoarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Estetikin.NoActionBar" />
    </application>

</manifest>